$colors: (greens: (lighter: #8AFD9D, light: #30E54D, normal: #2F9E41, dark: #174F20, darker: #0C2710, ),
    grays: ("white": hsl(0, 0%, 100%), lighter: #f1f1f1, light: #e6e6e6, normal: #808080, dark: #666, darker: #333, "black": #111, ),
    suporte: (azul: #134EB3, amarelo: #E6BF00, vermelho: #B0131B, azul-sei:#03728c, ),
);